body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
}

.imgContainer {
  position: relative;
  height: auto;
  width: auto;
  background-size: cover;
}

.imgContainer img {
  height: 100vh;
  width: auto;
}

.translater {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  opacity: 1;
  z-index: 2;
  top: 0;
  left: -100%;
}

.info {
  position: absolute;
  z-index: 4;
  display: flex;
  align-items: center;
  flex-grow: none;
  width: 80px;
}

.info1 {
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.info2 {
  font-size: 12px;
  margin-left: 10px;
  position: relative;
}

.arrowLeft {
  height: 15px;
  width: 15px;
  position: relative;
}

.arrowRight {
  height: 15px;
  width: 15px;
  position: relative;
}

